In [2]:
import openpyxl
from openpyxl import Workbook
import os
import pandas as pd
import numpy as np
from openpyxl.styles import Font

from openpyxl.styles import Alignment
from openpyxl.styles import Font
import boto3

from dotenv import load_dotenv
load_dotenv(".env")

True

In [25]:
s3 = boto3.resource(
            service_name='s3',
            aws_access_key_id = os.environ.get("ACCESS_KEY_ID"),   
            aws_secret_access_key = os.environ.get("SECRET_ACCESS_KEY") 
            )

In [4]:
from openpyxl import styles
base_dir = "D:\\Users\\mk-armah\\OneDrive\\CODE\\SQL\\SQLSERVER\\CoDE-Data-Migration"
try:
    assert os.getcwd() == base_dir 
except AssertionError:
    print("You are not in the appropriate directory")
    print("Switching ........... \n")
finally:
    os.chdir(base_dir)
    print("current working dir: \ {}".format(os.getcwd()))

current working dir: \ D:\Users\mk-armah\OneDrive\CODE\SQL\SQLSERVER\CoDE-Data-Migration

In [6]:
sheetname = 'ACUMEN_Q1_SEM1_IC'
purpose = 'QUIZ 1 IC FOR SEMESTER 1'

In [7]:
file_dir = os.path.join('..','IC_WITH_PHONE_NUMBERS_EDITED_II (1).xlsx')
file_dir

'..\\IC_WITH_PHONE_NUMBERS_EDITED_II (1).xlsx'

In [8]:
retries = 12
for i in range(3,retries):
    try:
        
        df = pd.read_excel(file_dir,sheet_name = sheetname,skiprows = i)
        columns = ["CENTRE NAME","REGISTRATION NUMBER","NAME","LEVEL","LONG NAME","CODE","TITLE","SESSION"]
        assert [x for x in df.columns] == columns
        display(df.head())
        break
        #df.columns = columns
    except AssertionError:
        print("exce",[x.lower() for x in df.columns],"\n")
        print("compare",df.columns)
        continue
        
    if i == 9:
        break

exce ['unnamed: 0', 'unnamed: 1', 'unnamed: 2', 'unnamed: 3', 'unnamed: 4', 'unnamed: 5', 'unnamed: 6', 'unnamed: 7']

compare Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')
exce ['unnamed: 0', 'unnamed: 1', 'unnamed: 2', 'unnamed: 3', 'unnamed: 4', 'unnamed: 5', 'unnamed: 6', 'unnamed: 7']

compare Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

,CENTRE NAME,REGISTRATION NUMBER,NAME,LEVEL,LONG NAME,CODE,TITLE,SESSION
0,ACCRA HIGH SCHOOL,1105054100257,"OBENG, BLESSED OSEI",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EFO211DL,BASIC SCHOOL ADMINISTRATION AND SUPERVISION,20121
1,ACCRA HIGH SCHOOL,1101013100061,"KWAKYE MANU, JOYCE",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EPS210DL,INTRODUCTION TO GUIDANCE AND COUNSELLING,20121
2,ACCRA HIGH SCHOOL,1105054100108,"ADDO, VIDA",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EHS310DL,INTRODUCTION TO PHYSICAL EDUCATION,20131
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.columns

Index(['CENTRE NAME', 'REGISTRATION NUMBER', 'NAME', 'LEVEL', 'LONG NAME',
       'CODE', 'TITLE', 'SESSION'],
      dtype='object')

In [27]:
for index, row in df.iterrows():
    out =  list(row.values)
    break
    
out

['ACCRA HIGH SCHOOL',
 1105054100257,
 'OBENG, BLESSED OSEI',
 200,
 'DIPLOMA IN BASIC EDUCATION - DISTANCE',
 'EFO211DL',
 'BASIC SCHOOL ADMINISTRATION AND SUPERVISION',
 20121]

In [17]:
('ACCRA HIGH SCHOOL' 1105054100257 'OBENG, BLESSED OSEI' 200
 'DIPLOMA IN BASIC EDUCATION - DISTANCE' 'EFO211DL'
 'BASIC SCHOOL ADMINISTRATION AND SUPERVISION' 20121)

SyntaxError: invalid syntax (2630437156.py, line 1)

In [ ]:

import json
with open("sheets_meta_data.json","r") as jfile:
    meta_data = json.load(jfile)

    
meta_data.keys()

In [46]:
sheetname = 'ACUMEN_Q1_SEM1_IC'
purpose = 'QUIZ 1 IC FOR SEMESTER 1'

def load_data(sheetname,purpose):
    from openpyxl import styles
    base_dir = "D:\\Users\\mk-armah\\OneDrive\\CODE\\SQL\\SQLSERVER\\CoDE-Data-Migration"
    try:
        assert os.getcwd() == base_dir 
    except AssertionError:
        print("You are not in the appropriate directory")
        print("Switching ........... \n")
    finally:
        os.chdir(base_dir)
        print("current working dir: \ {}".format(os.getcwd()))
    

    
    file_dir = os.path.join(os.getcwd(),'IC_WITH_PHONE_NUMBERS_EDITED_II.xlsx')
    file_dir
    
    df = pd.read_excel(file_dir,sheet_name = sheetname,skiprows = 5)
    columns = ['CENTRE NAME','REGISTRATION NUMBER','NAME','LEVEL','LONG NAME','CODE','TITLE','SESSION']
    df.columns = columns
    df.head()

In [19]:
df['CENTRE NAME'].nunique()

63

In [20]:
df.columns = [i.upper() for i in df.columns]
df.head(2)

,CENTRE NAME,REGISTRATION NUMBER,NAME,LEVEL,LONG NAME,CODE,TITLE,SESSION
0,ACCRA HIGH SCHOOL,1105054100257,"OBENG, BLESSED OSEI",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EFO211DL,BASIC SCHOOL ADMINISTRATION AND SUPERVISION,20121
1,ACCRA HIGH SCHOOL,1101013100061,"KWAKYE MANU, JOYCE",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EPS210DL,INTRODUCTION TO GUIDANCE AND COUNSELLING,20121

In [21]:
df = df.dropna()

In [22]:
new_columns = [i.replace("_"," ") for i in df.columns]
print(new_columns)
df.columns = new_columns

['CENTRE NAME', 'REGISTRATION NUMBER', 'NAME', 'LEVEL', 'LONG NAME', 'CODE', 'TITLE', 'SESSION']

In [23]:
df.set_index("CENTRE NAME",inplace = True)

In [24]:
df.drop('CENTRE NAME',axis = 0,inplace = True)

In [25]:
df.isna().sum()

REGISTRATION NUMBER    0
NAME                   0
LEVEL                  0
LONG NAME              0
CODE                   0
TITLE                  0
SESSION                0
dtype: int64

In [26]:
index_ = [i for i in range(1,len(df)+1)]

In [27]:
index_ = list(range(1,len(df)+1))

In [28]:
df = df.reset_index()
df.head()

,CENTRE NAME,REGISTRATION NUMBER,NAME,LEVEL,LONG NAME,CODE,TITLE,SESSION
0,ACCRA HIGH SCHOOL,1105054100257,"OBENG, BLESSED OSEI",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EFO211DL,BASIC SCHOOL ADMINISTRATION AND SUPERVISION,20121
1,ACCRA HIGH SCHOOL,1101013100061,"KWAKYE MANU, JOYCE",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EPS210DL,INTRODUCTION TO GUIDANCE AND COUNSELLING,20121
2,ACCRA HIGH SCHOOL,1105054100108,"ADDO, VIDA",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EHS310DL,INTRODUCTION TO PHYSICAL EDUCATION,20131
3,ADA COLLEGE OF EDUCATION,1205056130067,"ADRI, SENYO",200,DIPLOMA IN PSYCHOLOGY AND FOUNDATIONS OF EDUCA...,MAT110DL,MATHEMATICS FOR BASIC SCHOOL TEACHERS I,20141
4,ADA COLLEGE OF EDUCATION,1105053110029,"AGYEPONG-ADDO, REXFORD NATHANIEL",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,ENG210DL,ENGLISH FOR BASIC SCHOOL TEACHERS II,20131

In [ ]:
def clean_data():
    
    """clean data"""
    
    df.columns = [i.upper() for i in df.columns]
    df = df.dropna()
    new_columns = [i.replace("_"," ") for i in df.columns]
    df.columns = new_columns
    df.set_index("CENTRE NAME",inplace = True)
    df.drop('CENTRE NAME',axis = 0,inplace = True)
    
    index_ = [i for i in range(1,len(df)+1)]
    index_ = list(range(1,len(df)+1))
    df = df.reset_index()
    df.index = index_
    
    df[['REGISTRATION NUMBER','LEVEL','SESSION']] = df[['REGISTRATION NUMBER','LEVEL','SESSION']].astype(np.int64)
    
    try:
        assert 'CENTER NAME' not in df['CENTRE NAME'].unique()
    
    except AssertionError:
        print("center name still exists")

In [44]:
df.index = index_

In [45]:
df.head()

,CENTRE NAME,REGISTRATION NUMBER,NAME,LEVEL,LONG NAME,CODE,TITLE,SESSION
1,ACCRA HIGH SCHOOL,1105054100257,"OBENG, BLESSED OSEI",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EFO211DL,BASIC SCHOOL ADMINISTRATION AND SUPERVISION,20121
2,ACCRA HIGH SCHOOL,1101013100061,"KWAKYE MANU, JOYCE",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EPS210DL,INTRODUCTION TO GUIDANCE AND COUNSELLING,20121
3,ACCRA HIGH SCHOOL,1105054100108,"ADDO, VIDA",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EHS310DL,INTRODUCTION TO PHYSICAL EDUCATION,20131
4,ADA COLLEGE OF EDUCATION,1205056130067,"ADRI, SENYO",200,DIPLOMA IN PSYCHOLOGY AND FOUNDATIONS OF EDUCA...,MAT110DL,MATHEMATICS FOR BASIC SCHOOL TEACHERS I,20141
5,ADA COLLEGE OF EDUCATION,1105053110029,"AGYEPONG-ADDO, REXFORD NATHANIEL",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,ENG210DL,ENGLISH FOR BASIC SCHOOL TEACHERS II,20131

In [46]:
df[['REGISTRATION NUMBER','LEVEL','SESSION']] = df[['REGISTRATION NUMBER','LEVEL','SESSION']].astype(np.int64)

In [47]:
try:
    assert 'CENTER NAME' not in df['CENTRE NAME'].unique()
    
except AssertionError:
    print("center name still exists")

In [48]:
df.head()

,CENTRE NAME,REGISTRATION NUMBER,NAME,LEVEL,LONG NAME,CODE,TITLE,SESSION
1,ACCRA HIGH SCHOOL,1105054100257,"OBENG, BLESSED OSEI",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EFO211DL,BASIC SCHOOL ADMINISTRATION AND SUPERVISION,20121
2,ACCRA HIGH SCHOOL,1101013100061,"KWAKYE MANU, JOYCE",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EPS210DL,INTRODUCTION TO GUIDANCE AND COUNSELLING,20121
3,ACCRA HIGH SCHOOL,1105054100108,"ADDO, VIDA",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,EHS310DL,INTRODUCTION TO PHYSICAL EDUCATION,20131
4,ADA COLLEGE OF EDUCATION,1205056130067,"ADRI, SENYO",200,DIPLOMA IN PSYCHOLOGY AND FOUNDATIONS OF EDUCA...,MAT110DL,MATHEMATICS FOR BASIC SCHOOL TEACHERS I,20141
5,ADA COLLEGE OF EDUCATION,1105053110029,"AGYEPONG-ADDO, REXFORD NATHANIEL",200,DIPLOMA IN BASIC EDUCATION - DISTANCE,ENG210DL,ENGLISH FOR BASIC SCHOOL TEACHERS II,20131

In [49]:
def execute(sheetname):
    
    try:
        assert 'CENTER NAME' not in df['CENTRE NAME'].unique()

    except AssertionError:
        print("center name still exists")

    os.chdir(base_dir+'\\sheets')
    print("current working directory : ",os.getcwd())
    os.mkdir(sheetname) #create directory
    os.chdir(sheetname) #change directory
    
    names = []
    centers = df['CENTRE NAME'].unique()
    for i in centers:
        frame = df[df['CENTRE NAME'] == i]
#         index_ = index_ = [i for i in range(1,len(df)+1)]
#         print(frame)
#         print(i)
#         print(index_)
#         frame.index = index_
        name = i.replace(" ","_").lower()
        name = f'{name}.xlsx'
        #pd.DataFrame([["","",""]], columns=['A','B','C'])
        frame.to_excel(name)
        names.append(name)
        
    return names

In [50]:
def format_names(wb,ws,excel_name,center_name:str,purpose):
    
    cells = []
    for i in range(1,4):
        cells.append(ws.cell(row = i,column = 5))
        
        
    ws.column_dimensions['A'].width = 17
    ws.column_dimensions['B'].width = 13.45
    ws.column_dimensions['C'].width = 15.3
    ws.column_dimensions['D'].width = 5.3
    ws.column_dimensions['E'].width = 20
    ws.column_dimensions['F'].width = 9.15
    ws.column_dimensions['G'].width = 27
    ws.column_dimensions['H'].width = 7.9
        
    cells[0].value = 'UNIVERSITY OF CAPE COAST'
    cells[1].value = purpose
    cells[2].value = center_name
    
    cells[0].alignment = Alignment(horizontal = 'center',vertical = 'center')
    cells[1].alignment = Alignment(horizontal = 'center',vertical = 'center')
    cells[2].alignment = Alignment(horizontal = 'center',vertical = 'center')
    
    fontStyle = Font(size = "18",bold = True)
    cells[0].font = fontStyle
    cells[1].font = fontStyle
    cells[2].font = fontStyle
    
  
            
    wb.save(excel_name)
    print('workbook saved')
    
    return True

In [51]:
def main(sheetname,purpose:str):
    try:
        excel_names = execute(sheetname)
    except Exception as err:
        print("First Execution Failed", err)
        raise err
        
    for i in os.listdir():
        wb = openpyxl.load_workbook(i)
        ws = wb['Sheet1']
        ws.insert_rows(0,4)
        try:  
            remove_xls = i.replace(".xlsx","")
            remove_underscores = remove_xls.replace("_"," ")
            center_names = remove_underscores.upper()
            output = format_names(wb,ws = ws,excel_name = i,center_name = center_names,purpose = purpose)
            assert output == True
        except AssertionError:
            print('Second Execution Failed')
            print('SUCCESS')

In [52]:
main(sheetname = sheetname,purpose = purpose)

current working directory :  D:\Users\mk-armah\OneDrive\VS-CODE\SQL\SQLSERVER\CoDE-Data-Migration\sheets
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved
workbook saved

In [53]:
os.listdir()

['accra_high_school.xlsx',
 'ada_college_of_education.xlsx',
 'akatsi_college_of_education.xlsx',
 'apam_shs.xlsx',
 'ashante_mampong_technical_college_of_education.xlsx',
 'atlantic_wesleyan_college_kasoa.xlsx',
 'boa_amposem_shs_-_dunkwa-on-offin.xlsx',
 'bolgatanga_technical_school.xlsx',
 'bolga_girls_senior_high_school.xlsx',
 'breman_asikuma_snr_high.xlsx',
 'chemu_shs.xlsx',
 'dormaa_senior_high_school.xlsx',
 'dwamena_akenten_senior_high,_offinso.xlsx',
 'enchi_college_of_education.xlsx',
 'fafraha_comm._sch.-adenta_.xlsx',
 'fiaseman_senior_high_school.xlsx',
 'gambaga_girls_shs.xlsx',
 'ghana_secondary_school.xlsx',
 'holy_child_college_of_education.xlsx',
 'ho_polytechnic.xlsx',
 'jasikan_college_of_education.xlsx',
 'kintampo_senior_high_school.xlsx',
 'konongo_odumase_senior_high_school.xlsx',
 'kumasi_anglican_secondary_school.xlsx',
 'kumasi_polytechnic.xlsx',
 'kumasi_seniorl_high_technical_school,_patasi.xlsx',
 'kumasi_technical_institute.xlsx',
 'lawra_shs.xlsx',
 'lutheran_school_-_kanda.xlsx',
 'lutheran_school_-_madina.xlsx',
 'mante_-_din.xlsx',
 'mawuli_senior_high_school.xlsx',
 'mmofraturo_junior_high_school.xlsx',
 'obiri_yeboah_senior_high_school.xlsx',
 'obuasi_secondary_technical_school.xlsx',
 'oda_secondary_technical_school.xlsx',
 'odorgonno_senior_high_school.xlsx',
 'oyoko_methodist_school.xlsx',
 'papafio_hills.xlsx',
 'sefwi_wiawso_college_of_education.xlsx',
 'serwaa_nyarko_shs.xlsx',
 'simms_shs.xlsx',
 'st._johns_senior_high_school_(takoradi).xlsx',
 'st_margaret_mary_senior_technical_school.xlsx',
 'sunyani_technical_university.xlsx',
 'swedru_shs.xlsx',
 't._i_ahmadiyya.xlsx',
 'takoradi_polytechnic.xlsx',
 'takoradi_senior_high_school.xlsx',
 'tamale_college_of_education.xlsx',
 'tamale_technical_university.xlsx',
 'techiman_senior_high_school.xlsx',
 'tema_datus_complex_.xlsx',
 'tema_parents.xlsx',
 'tema_senior_high_school.xlsx',
 'twifo_praso_shs.xlsx',
 'university_of_cape_coast.xlsx',
 'wa_senior_high_school.xlsx',
 'wesley_college_of_education.xlsx',
 'west_africa_senior_secondary.xlsx',
 'zebilla_shs.xlsx',
 'zenith_college.xlsx']

In [ ]:

s3.meta.client.upload_file('zebilla_shs.xlsx','ucc-code-bucket','zebilla_shs.xlsx')

In [ ]:
for i in os.listdir(): 
    try:
        response = s3.upload_file(file_name = i,bucket = , object_name = i)
        print(response)

    except Exception as exc:

        print(f'could not {i} to bucket')

go